@import "../../common/styles/sass/mixins";

.nav{
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    a {
        @include text((Oswald, sans-serif), 18px, 1.0, #fff);
        cursor: pointer;
        &:hover {
           color: #ffa500;
        }
    }
    .active{
        color: #ffa500;
    }
    @media screen and (max-width: 400px){
        display: none;
    }
}