@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: auto;
    a {
        @include text((Oswald, sans-serif), 18px, 1, #fff);
        cursor: pointer;
        &:hover {
            color: $Default;
        }
    }
    .active {
        color: $Default;
    }
    @media screen and (max-width: 400px) {
        display: none;
    }
}
