@import "../../common/styles/sass/mixins";

.skill{
    width: 250px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    .icon{
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title{
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 30px;
        @include text((Oswald, sans-serif), 18px, 1.2, white);
    }
    .description{
        @include text((Heebo,sans-serif), 1rem, 1.7em, #999);
    }

}

