@import "../../common/styles/sass/mixins";

.skill {
    width: 200px;
    background-color: rgba(34, 34, 34, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    .box {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #666;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .circle {
            position: absolute;
            left: 0;
            top: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #666;
            animation: move 2.5s linear infinite;
            offset-path: path("M 50,50 m -50,0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0");
            animation-play-state: paused;
        }
        &:hover .circle {
            animation-play-state: running;
        }
    }
    @keyframes move {
        100% {
            offset-distance: 100%;
            transform: rotate(360deg);
        }
    }
    .title {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px;
        @include text((Oswald, sans-serif), 16px, 1.2, white);
    }
    .description {
        @include text((Heebo, sans-serif), 14px, 24px, #999);
    }
}
