@import "../../common/styles/sass/mixins";

.skill{
    width: 200px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
        .icon{
            margin-top: 20px;
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    .title{
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 30px;
        @include text((Oswald, sans-serif), 16px, 1.2, white);
    }
    .description{
        @include text((Heebo,sans-serif), 14px, 24px, #999);
    }
}

