@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";
.title {
    font-weight: 700;
    @include text((Oswald, sans-serif), 20px, 1.2, $hColor);
    margin: 0 0 50px;
    position: relative;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        background: #ffa500;
        width: 100px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .title h2 {
        margin: 0;
    }
}





