@import "../../common/styles/sass/mixins";

.burgerNav{
    width: 100%;
    height: 100%;

    .burgerNavItems {
        /*display: none;*/
        height: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #202020;
        transform: translate(0, -200px);
        transition: .7s;
        a {
            @include text((Oswald, sans-serif), 30px, 1.0, #fff);
            cursor: pointer;
            &:hover {
                color: #ffa500;
            }
        }
        .active{
            color: #ffa500;
        }
    }
    .show{
        transform: translate(0, 0);
        height: 200px;
    }
    .burgerBtn{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 22px;
        right: 30px;
    }
    @media screen and (min-width: 400px){
        display: none;
    }
}