@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.skillsBlock {
    background-color: $bgSecondColor;
    padding: 0 0 100px 0;
    position: relative;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        @include container();
        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            @media screen and (max-width: 1128px) {
                justify-content: center;
            }
        }
    }
}
