.skillsBlock{
    min-height: 100vh;
    background-color: #202020;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #9ec79e;
}
.skills{
    border: 2px solid rgba(138, 43, 226, 0.89);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}