.skillsBlock{
    background-color: #202020;
    padding: 100px 0;
    .skillsContainer{
        flex-direction: column;
        justify-content: flex-start;
        .skills{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            @media screen and (max-width: 1128px) {
                justify-content: center;
            }
        }
    }
}

