@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock{
    height: 100vh;
    background-color: $bgColor;
    .text{
        width: 840px;
        position: relative;

        .title {
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 8px;
            position: relative;
            @include text((Oswald,sans-serif), 1.2rem, 1.2, #fff);
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: 70px;
                height: 1px;
                background-color: #ffa500;
            }
            @media (max-width: 767px) {
                font-size: 1.0rem;
                &::after {
                    display: none;
                }
            }
        }
        .myJob{
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 8px;
            @include text((Oswald,sans-serif), 3.6rem, 1.2em, #fff);
            margin: 20px 0;
            @media (max-width: 767px) {
                font-size: 2.4rem;
            }
        }
    }
    .photo {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        background-size: cover;
        background-position: unset;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: #2a2a2a;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
        }
        @media (max-width: 1340px) {
            display: none;
        }
    }
    @media (max-width: 1890px) {
        .text {
            width: 100%;
        }
        .photo{
            margin: 0 auto;
        }
        text-align: center;
    }
}


