.workBlock {
    background-color: #9f5d1e;
    padding: 20px 0;
}

.work {
    flex-direction: column;
    justify-content: center;
}


.title {
    background-color: #6476ed;
}

.linkToWorkMe {
    background-color: #6476ed;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
}