@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
    max-width: 540px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 1445px) {
        max-width: 640px;
    }

    .imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 340px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .logo {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        transition: background-color 0.3s linear, transform 0.3s linear;
        &:hover {
            transform: scale(1.1);
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $Default;
            opacity: 0;
            transition: opacity 0.2s linear;
        }
        &:hover::before {
            opacity: 0.4;
        }
    }
    .description {
        padding: 15px;
        background-color: #333;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 600;
            margin: 0 0 10px 0;
            text-align: center;
            @include text((Oswald, sans-serif), 20px, 1.2, $hColor);
        }

        .category {
            @include text((Heebo, sans-serif), 16px, 1.2, $textColor);
            text-align: start;
            margin-bottom: 10px;
        }

        .links {
            display: flex;
            gap: 20px;

            a {
                @include text((Oswald, sans-serif), 18px, 1.1, $hColor);
                text-decoration: none;
                cursor: pointer;
                transition: color 0.2s linear;

                &:hover {
                    color: $Default;
                }

                @media (max-width: 480px) {
                    color: $Default;
                }
            }
        }
    }
}
