@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #333;
    .imageBackground {
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4;
        }
        .linkToProject {
            text-align: center;

            height: 50px;

            @include text((Oswald, sans-serif), 16px, 47px, black);

            border: 1px solid hsla(0, 0%, 40%, .8);
            padding: 0 80px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 50px;
            -webkit-transition: all .3s;
            transition: all .3s;
            position: relative;
            z-index: 1;
            &:hover {
                background-color: $bgColorBtn;
                color: $colorBtn;
            }
        }
    }
    .projectInfo {
        padding: 25px 20px;
        .projectTitle {
            font-weight: 600;
            @include text((Oswald, sans-serif), 22px, 1.2, $hColor);

            margin: 0 0 10px 0;
            text-align: center;
        }
        .description {
            @include text((Heebo,sans-serif), 18px, 1.2, $textColor);
        }
    }
}










