@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock{
    background-color: $bgSecondColor;
    padding: 20px 0;
    position: relative;
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        @include container();
        .title{
            font-weight: 600;
            @include text((Oswald,sans-serif), 20px, 1.2, #fff);
        }
        .footerContacts{
            display: flex;
            width: 250px;
            align-items: center;
            justify-content: space-between;
            .footerContact{
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .rights{
            @include text((Heebo,sans-serif), 14px, 1.2, #ddd);
        }
    }
}





