@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
    min-height: 100vh;
    background-color: $bgColor;
    padding: 20px 0 140px 0;
    position: relative;

    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        @include container();
        .projects {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 60px;
            flex-wrap: wrap;
            align-items: flex-start;

            @media screen and (max-width: 1445px) {
                justify-content: center;
            }
        }
    }
}
